@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root {
    --anim-dur: 1.3s;
    --green: rgb(120, 198, 111);
    --blue: rgb(98, 163, 222);
    --red: rgb(229, 103, 103)
}

html {
    background-image: url("../background-website.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    image-rendering: crisp-edges;

    background-color: #000;
    width: 100vw;
    height: 100vh;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Fira Code', monospace;
}

@keyframes fade_in_overlay {
    0% {background-color: #0000}
    75% {background-color: #0000}
    100% {background-color: #000e}
}

@keyframes fade_in_div {
    0% {opacity: 0}
    75% {opacity: 0}
    100% {opacity: 100%}
}

#terminal {
    animation-name: fade_in_div;
    animation-duration: calc(var(--anim-dur)*1.5);
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    box-sizing: border-box;
    padding: 0.5rem;
}

#footer {
    margin-top: auto;
    display: flex;
}

body {
    background-color: #000e;
    margin: unset;
    animation-name: fade_in_overlay;
    animation-duration: var(--anim-dur);
    animation-fill-mode: forwards;

    color:white;

    width: 100%;
    height: 100%;
}

.stealthy_input {
    border: none;
    color: white;
    font-size: medium;
    background-color: transparent;
    flex-grow: 1;
}

.stealthy_input:focus-visible {
    outline: none;
}